# Sensitive configuration files
config.js

# Environment variables
.env

# Node.js dependencies
node_modules/

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*

# Editor/IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# NEU HINZUFÜGEN: Android Keystore-Dateien ignorieren
*.jks