body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#map {
    height: 70vh;
    width: 100%;
}

#info {
    height: 20vh;
    width: 100%;
    padding: 10px;
    overflow-y: auto;
    background-color: #f9f9f9;
    white-space: pre-wrap;
}

#slider-container {
    padding: 10px;
}

#timeLabel {
    display: block;
    margin-bottom: 5px;
}